.nnnnnn {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-style: inset;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.aaaaaa {
  display: flex;
  justify-content: center;
  align-items: center;
}

  